<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userInfo" class="com.pan.spring.test.bean.UserInfo"/>

    <bean id="userService" class="com.pan.spring.test.bean.UserService">
        <property name="id" value="1"/>
        <property name="userInfo" ref="userInfo"/>
    </bean>

</beans>